export ERICSSON_AUTH=eyJ4NXQiOiJOVEF4Wm1NeE5ETXlaRGczTVRVMVpHTTBNekV6T0RKaFpXSTRORE5sWkRVMU9HRmtOakZpTVEiLCJraWQiOiJOVEF4Wm1NeE5ETXlaRGczTVRVMVpHTTBNekV6T0RKaFpXSTRORE5sWkRVMU9HRmtOakZpTVEiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJhbGV4YW5kZXIuZ3lsbGVuc3ZhcmRAZ21haWwuY29tQGNhcmJvbi5zdXBlciIsImF1ZCI6Im1teE9vSGliRXBiQVpfcF9QQnhIalBOMmxpSWEiLCJhenAiOiJtbXhPb0hpYkVwYkFaX3BfUEJ4SGpQTjJsaUlhIiwic2NvcGUiOiJhcGltOnN1YnNjcmliZSIsImlzcyI6Imh0dHBzOlwvXC9kZW1vLWlzLndlc3RldXJvcGUuY2xvdWRhcHAuYXp1cmUuY29tXC9vYXV0aDJcL3Rva2VuIiwiZXhwIjoxNTY5MzI3NjY5LCJpYXQiOjE1Njg3MjI4NjksImp0aSI6IjE2OTZkMWZiLTZhMmEtNDdhMC1iYzU5LWQxMmVhYjI0NjE0NyJ9.Rt7z5J4BYv7zMsmrfMibF_J1ueU33bMNUhvvBQOioo2Tk5tgdU-tioaR32kmckeecwA5AnhJQAyZRRAEeNg4YMom0-tzDi4VVUT_S8MRRUIRfq143HnKquQFEn7jNxnrmG9ckuRecb9rGC2HOMdl0TU62OVziVYoiFWTJqrWwju5-izsx5mFX88rKrNVy2loCW9Otrf113__0apcaT29CMgwS53Gp6itaN81uA8wBRxm1e0lP2a5kecylWY8EZZ6_qdxTZyKtDkHv3rTultcLd7IHxIy4_hLehJEnlJzmyXn_zFvfTrSuO1pFP-BcYTVB4VRI8JePMTd181nw-e3vQ